<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<body>



<script>

    function open_lock(code) {
        var value = document.getElementById('bug_code').value;

        console.log(value, value.length, isNaN(value));

        if (value.length > 3) {

            // So we had a deadline and this task is very simple :)
            // Enjoy the game :)
            if (value == 3807) {
                window.location.replace("/3room_finished.html");
            } else {
                console.log("Try something different... :)");
            }
        }
    }

</script>




<div class="contentblock">


    Ты наклоняешься и пытаешься открыть ящик стола

    <br><br>

    Ящик стола закрыт, на ящике цифровой замок:

    <br><br><br>


    <div class="form">

        <input type="number" max="9999" min="-9999" class="table_code"
               placeholder="0000" id="bug_code">
        <br><br>

        <button class="open" onclick="open_lock(this);"> Open </button>

    </div>



    <br><br><br>

    <p> <a href="/3room_details.html">Осмотреть комнату</a> </p>
    <br>

</div>




</body>



</html>