<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>


<div class="contentblock">


    Внезапно ощущение падения прекратилось и ты снова чувствуешь твердую землю под ногами.

    <br><br>

    Твои глаза постепенно привыкают к темноте.

    <br><br>

    Очень медленно все вокруг заливает мягкий желтый свет и через какое-то время ты
    начинаешь видеть очертания комнаты вокруг себя.


    <br><br><br>

    <p> <a href="/3room_details.html">Осмотреть комнату</a> </p>
    <br>

</div>

</body>
</html>