<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>


<div class="contentblock">


    Ты внимательно осматриваешь все вокруг.

    <br><br>

    Ты находишься в небольшой комнате с одной дверью.

    <br><br>

    В центре комнаты стоишь ты, неподалеку от тебя стоит небольшой деревянный стол, на котором лежит записка.

    <br><br>


    <br><br><br>

    <p> <a href="/3room_read_help_text.html">Посмотреть записку на столе</a> </p>
    <br>

</div>

</body>
</html>