<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<body>


<div class="contentblock">

    Ты берешь блестящий медный ключ.


    <br><br><br>

    <p> <a href="/3room_open_door.html">Открыть дверь</a> </p>
    <br>

</div>




</body>



</html>