<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>


<div class="contentblock">


    Ты берешь записку со стола и читаешь:

    <br><br>

    "Все просто: в ящике этого стола лежит ключ от двери. За этой дверью прячется гейзенбаг!"

    <br><br>

    С обратной стороны листа красной ручкой написано:

    <br><br>

     <b> "<div style="color: red"> 0011 1000 0000 0111 </div>" </b>


    <br><br><br>

    <a href="/3room_locked.html">Открыть ящик стола</a><br>

</div>


</body>
</html>