<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<body>


<div class="contentblock">

    Ты осматриваешь комнату.

    <br><br>

    В комнате стоит круглый стол, на столе стоит фарфоровый чайный сервиз и разные сладости.

    <br><br>

    За столом сидит Баг и с важным видом потягивает чай из фарфоровой кружечки, на которой нарисован кролик с часами.

    <br><br>

    - О, привет, привет! - восклицает жук, - Присаживайся!


    <br><br><br>

    <a href="/4room_dialog.html">Сесть за стол вместе с багом</a><br>

</div>




</body>



</html>