<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>


<body>


<div class="contentblock">

    Баг продолжает:

    <br><br>

    - Кстати, ты уж прости за то, что в этой игре нет картинок и за то, что, возможно,
    на твоем устройстве она выглядит не совсем так, как было изначально задумано.
    Но ты же понимаешь, баги есть повсюду! - он многозначительно подмигнул и загадочно улыбнулся.

    <br><br>

    Чуть помедлив и еще отхлебнув чая, Баг продолжил:

    <br><br>

    - Это ведь конец игры, и ты, можно сказать, победил! Но это не все! - опять подмигнул тебе Баг.


    <br><br><br>

    <p> <a href="/game_over_win.html">Завершить игру!</a> </p>
    <br>
    <br>

</div>




</body>



</html>