<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<body>


<div class="contentblock">

    Баг продолжает:

    <br><br>

    - Ты один из немногих, кто смог добраться до этой комнаты,
      но я вынужден проверять кандидатов, прежде чем сделать им интересное предложение.

    <br><br>

    - Знаешь, в наши дни очень много делетантов! - баг поставил кружку с чаем на стол.

    <br><br>

    - Ох! - воскликнул баг - я совсем забыл предложить тебе чаю!

    <br><br>

    С озабоченным видом он стал кружиться вокруг стола, достал чистую кружку и налил
    тебе приятно пахнущий чай. Что это за аромат? Не получается вспомнить ничего похожего...


    <br><br><br>

    <a href="/4room_dialog2.html">Выпить чай</a><br>

</div>




</body>



</html>