<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<body>


<div class="contentblock">

    Баг рассмеялся.

    <br><br>

    - Конечно же да!

    <br><br>

    - А секрет такой - это конец игры, и ты, можно сказать, победил!

    <br><br>

    - Но это не все! - опять подмигнул тебе баг.

    <br><br>

    - У нас есть 4 статуэтки, которые мы будем раздавать победителям на конференции Heisenbug 2019!
     Как ты понимаешь, желающих поиграть больше чем призов, поэтому торопись!


    <br><br><br>

    <a href="/game_over_win.html">Завершить игру!</a><br>

</div>




</body>



</html>