<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<div class="contentblock">

    Тебе снится что ты стоишь в небольшой светлой комнате. В этой комнате есть две двери.
    Одна дверь - обычная деревянная дверь, скорее всего она ведет в соседнюю комнату.
    Вторая дверь - тяжелая бронированная дверь с цифровым замком. Интересно, куда она ведет?

    <br><br>

    Обе двери закрыты.


    <br><br><br>

    <p> <a href="/first_room_details.html">Осмотреть комнату</a> </p>
    <br><br>
    <p> <a href="/first_room_first_door.html">Открыть деревянную дверь</a> </p>
    <br><br>
    <p> <a href="/first_room_second_door.html">Открыть бронированую дверь с цифровым замком</a> </p>
    <br>

</div>



</body>
</html>