<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>

<div class="contentblock">

    Ты поднимаешь кусочек бумаги с пола и читаешь, что на нем написано:

    <br><br>

    "Сломать можно любую систему. Найди баги в замке и ты сможешь открыть его."

    <br><br><br>


    <p> <a href="/first_room_first_door.html">Открыть деревянную дверь</a> </p>
    <br>
    <p> <a href="/first_room_second_door.html">Открыть бронированую дверь с цифровым замком</a> </p>
    <br>

</div>

</body>
</html>