<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>

<div class="contentblock">

    Ты подходишь к деревянной двери и пробуешь открыть ее. Дверь закрыта с обратной стороны.

    <br><br><br>


    <p> <a href="/first_room_knoking_first_door.html">Постучать в деревянную дверь</a> </p>
    <br>
    <p> <a href="/first_room_details.html">Осмотреть комнату</a> </p>
    <br>
    <p> <a href="/first_room_second_door.html">Открыть бронированую дверь с цифровым замком</a> </p>
    <br>

</div>


</body>
</html>