<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>

<div class="contentblock">

    Ты стучишь в деревянную дверь несколько раз.

    <br><br>

    За дверью слышны какие-то тихие звуки. Похоже там кто-то есть!

    <br><br>

    Почти сразу ты понимаешь - или скорее чувствуешь - что там находится именно тот баг, который тебе нужен.
    Он прямо здесь, за этой дверью!

    <br><br>

    Похоже, эту дверь он нам не откроет...


    <br><br><br>

    <p> <a href="/first_room_details.html">Осмотреть комнату</a> </p>
    <br>
    <p> <a href="/first_room_second_door.html">Открыть бронированую дверь с цифровым замком</a> </p>
    <br>


</div>

</body>
</html>