<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>
</head>
<body>

<div align="center" style="width: 400px">

Ты стоишь в небольшой комнате, в которой есть две двери. Одна дверь - обычная деревянная дверь, скорее всего в соседнюю комнату,
вторая дверь - тяжелая бронированная дверь с цифровым замком. Интересно, куда она ведет?

Обе двери закрыты.

</div>

<br><br>

<a href="">Осмотреть комнату</a><br>
<a href="">Открыть деревянную дверь</a><br>
<a href="">Открыть бронированую дверь с цифровым замком</a><br>



</body>
</html>