<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>

<div class="contentblock">

    Тебе снится, что ты стоишь в небольшой светлой комнате.

    <br><br>

    В этой комнате есть две двери:
    <br>
    Первая дверь - обычная деревянная дверь, скорее всего, она ведет в соседнюю комнату.
    <br>
    Вторая дверь - тяжелая бронированная дверь с цифровым замком. Интересно, куда она ведет?

    <br><br>

    Обе двери закрыты.


    <br><br><br>

    <p> <a href="/first_room_details.html">Осмотреть комнату</a> </p>
    <br>
    <p> <a href="/first_room_first_door.html">Открыть деревянную дверь</a> </p>
    <br>
    <p> <a href="/first_room_second_door.html">Открыть бронированую дверь с цифровым замком</a> </p>
    <br>

</div>



</body>
</html>