<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<div class="contentblock">

    Ты осматриваешь комнату и с первого взгляда она кажется абсолютно пустой.
    В этой комнате серые стены, темный пол и две двери.

    <br><br>

    Одна дверь - обычная деревянная дверь, скорее всего в соседнюю комнату,
    вторая дверь - тяжелая бронированная дверь с цифровым замком.

    <br><br>

    Совершенно случайно ты делаешь пол шага назад и обнаруживаешь, что под твоим кроссовком
    лежит маленький кусочек бумаги.


    <br><br><br>

    <a href="/first_room_details_help_text.html">Поднять кусочек бумаги и осмотреть</a><br><br>
    <a href="/first_room_first_door.html">Открыть деревянную дверь</a><br><br>
    <a href="/first_room_second_door.html">Открыть бронированую дверь с цифровым замком</a><br>

</div>

</body>
</html>