<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>
</head>
<body>

<div align="center" style="width: 400px">

    Ты стучишь в деревянную дверь несколько раз.

    <br>

    Ты слышишь какие-то звуки. Похоже там кто-то есть!

    <br>

    Почти сразу ты понимаешь - или скорее чувствуешь - это именно тот баг, который тебе нужен. Он прямо здесь, за этой дверью!

    <br>

    Похоже, эту дверь он нам не откроет...

</div>

<br><br>

<a href="">Осмотреть комнату</a><br>
<a href="">Открыть бронированую дверь с цифровым замком</a><br>


</body>
</html>