<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>
</head>
<body>

<div align="center" style="width: 400px">

    Ты подходишь к деревянной двери и пробуешь открыть ее. Дверь закрыта с обратной стороны.

    В этой комнате есть две двери.

<br>

    Одна дверь - обычная деревянная дверь, скорее всего в соседнюю комнату,
    вторая дверь - тяжелая бронированная дверь с цифровым замком.

<br>

</div>

<a href="">Постучать в деревянную дверь</a><br>
<a href="">Осмотреть комнату</a><br>
<a href="">Открыть бронированую дверь с цифровым замком</a><br>


</body>
</html>