<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>


<script>

    function f(new_value) {
        /// Thank you https://stackoverflow.com/a/32351429

        var value = document.getElementById('secret_code').value;

        if (value.length < 4) {
            document.getElementById('secret_code').value = value + new_value;
        };
    }


    function clean() {
        document.getElementById('secret_code').value = '';
    }

</script>


<div class="contentblock">

    Ты подходишь к бронированной тяжелой двери и видишь кодовый электронный замок:


    <br><br>
    <div align="center">

            <input type="text" width="4" maxlength="4"
                   style="font-size:40px;text-align:center; width:400px;background-color: #ffef7f;"
                   placeholder="0000"
            onkeypress="return false;" id="secret_code">

                <br><br>

            <div align="center" style="padding: 10px">

                <button onclick="f(1);">1</button>
                <button onclick="f(2);">2</button>
                <button onclick="f(3);">3</button>

            </div>

            <div align="center" style="padding: 10px">

                <button onclick="f(4);">4</button>
                <button onclick="f(5);">5</button>
                <button onclick="f(6);">6</button>

            </div>

            <div align="center" style="padding: 10px">

                <button onclick="f(7);">7</button>
                <button onclick="f(8);">8</button>
                <button onclick="f(9);">9</button>

            </div>

            <br>
            <button class="cancel" onclick="clean();"> Clear </button>
            <button class="open"> Open </button>

    </div>



    <br><br><br>
    <a href="">Осмотреть комнату</a><br>
    <a href="">Открыть деревянную дверь</a><br>

</div>

</body>
</html>