<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>

<div class="contentblock">


    <div style="color: green"> <b> Дверь открыта! </b> </div>

    <br><br>

    Раздается механический щелчок. Тяжелая бронированная дверь медленно открывается.

    <br><br>

    Ты понимаешь, что за дверью находится следующая комната.



    <br><br><br>

    <p> <a href="/second_room_start.html">Войти во вторую комнату</a> </p>
    <br>

</div>

</body>
</html>