<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>


<body>


<div class="contentblock">

    <H1 style="color: green"> Поздравляем! </H1>


    <br><br>

    Ты стал победителем и прошел эту игру!

    <br><br>

    Спасибо за участие!

    <br><br>

    Если тебе понравилась игра, ты можешь написать автору игры в телеграм: <a href="https://t.me/xwizard707"> @xwizard707 </a>

    <br><br>

    Мы будем очень рады, если ты поделишься ссылкой на игру с друзьями и коллегами :)


    <br><br><br>

</div>




</body>



</html>