<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>



<div class="contentblock">

    <div align="center">


        <H1> QA Battle </H1>

        <H3> Heisenbug edition </H3>

        Пройди увлекательный текстовый квест для QA специалистов!

        <br><br>

        Для того чтобы победить, тебе потребуется воображение, внимательность и терпение :)


        <br><br><br>


        <a href="/start.html">Начать игру</a><br>


    </div>


</div>



</body>
</html>