<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>



<div class="contentblock">

    <div align="center">


        <H1> <font style="color: darkorange">QA</font> Battle </H1>

        <H4 style="color: darkorange"> Heisenbug Edition </H4>

        <br>
        В этом квесте тебе потребуется воображение, внимательность и терпение :)


        <br><br><br>


        <p> <a href="/start.html">Начать игру</a> </p>
        <br>


    </div>


</div>



</body>
</html>