<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>


<style>
  .center {
    margin: auto;
    width: 500px;
    text-align: left;
    // top: 90%;
    // left: 20px;
    padding: 30px;
    float: right;
  }
  body, html {
    height: 100%;
    display: grid;
  }


@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} }
</style>


<div style="text-align: center; margin: auto; margin-top: 30px; margin-bottom: 0px;" class="contentblock">

    <H3> Для начала игры необходимо авторизоваться: </H3>


    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=buttons;theme=classic;fields=first_name,last_name,email;
    providers=vkontakte,mailru,linkedin,facebook;mobilebuttons=0;altway=1">

        <img src="images/vk.png" data-uloginbutton="vkontakte" width="10%" style="padding: 2%"/>
        <img src="images/mail.jpg" data-uloginbutton="mailru" width="10%" style="padding: 2%" />
        <img src="images/facebook.png" data-uloginbutton="facebook" width="10%" style="padding: 2%"/>
        <img src="images/linkedin.png" data-uloginbutton="linkedin" width="10%" style="padding: 2%"/>

    </div>

    <br><br>

    <input type="checkbox" checked disabled> Я даю свое согласие на обработку моих персональных данных. <br>

</div>



</body>
</html>