<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
    
</head>


<script src="//ulogin.ru/js/ulogin.js"></script>


<body>



<div style="text-align: center; margin: auto; margin-top: 30px; margin-bottom: 0px;" class="contentblock">

    <H3> Для начала игры необходимо авторизоваться: </H3>


    <div id="uLogin" data-ulogin="display=buttons;theme=classic;fields=first_name,last_name,email;
    redirect_uri=https://qabattle.com/auth/auth;
    providers=vkontakte,mailru,linkedin,facebook;mobilebuttons=0;altway=1">

        <img src="images/vk.png" data-uloginbutton="vkontakte"
             width="10%" style="padding: 2%" alt="VK.com"/>
        <img src="images/mail.jpg" data-uloginbutton="mailru"
             width="10%" style="padding: 2%" alt="MAIL.RU"/>
        <img src="images/facebook.png" data-uloginbutton="facebook"
             width="10%" style="padding: 2%" alt="Facebook.com"/>
        <img src="images/linkedin.png" data-uloginbutton="linkedin"
             width="10%" style="padding: 2%" alt="Linkedin.com"/>

    </div>

    <br><br>

    <input type="checkbox" checked disabled> Я даю свое согласие на обработку моих персональных данных. <br>

    <br><br><br>

    Если у вас не получается авторизоваться, напишите автору этой игры в телеграм: <a href="https://t.me/xwizard707"> @xwizard707 </a>

</div>



</body>
</html>