  .center {
    margin: auto;
    // width: 500px;
    text-align: left;
    // top: 90%;
    // left: 20px;
    padding: 30px;
    float: right;
  }

  body, html {
    // height: 100%;
    display: grid;
    font-size: 1.2rem;
  }


  a {
      width: 40%;
      padding-top: 10%;
      padding-bottom: 10%;
      text-decoration: none;
  }


  div.contentblock {
      width: 40%;
      padding-top: 2%;
      padding-left: 30%;
      padding-right: 30%;
  }

  div.cube {
        border: double;
        width: 120px;
        height: 120px;
        line-height: 120px;

        text-align: center;
        vertical-align: middle;

        //display: table-cell;

        background-color: #ffffff;
        font-size: 4rem;

        position: relative;
  }



  button {
      width: 100px;
      height: 100px;
      font-size: 2rem;

      -webkit-appearance: none;
      border-radius: 0 3px 3px 0;
  }

  button.cancel {
      color: darkorange;
      width: 250px;
      height: 100px;
      font-size: 2rem;

      -webkit-appearance: none;
      border-radius: 0 3px 3px 0;
  }

  button.open {
      color: green;
      width: 250px;
      height: 100px;
      font-size: 2rem;

      -webkit-appearance: none;
      border-radius: 0 3px 3px 0;
  }

  input:not([type="radio"]):not([type="checkbox"]) {
      -webkit-appearance: none;
      border-radius: 0 3px 3px 0;
  }

  th {
      padding: 10px;
      width: 20%;
      height: 20%;
  }

  input.code {
      font-size:3rem;
      text-align:center;
      width:400px;
      background-color: #ffef7f;
  }

  input.table_code {
      font-size:3rem;
      text-align:center;
      // width:400px;
      background-color: #ee9999;
  }

  div.form {
      text-align:center;
      margin-left:auto;
      margin-right:auto;
  }

  div.green {
      color: green;
  }

  table.cubes_area {
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      width: 80%;
  }



@media screen and (max-width: 1280px) { div.contentblock {width: 1200px; text-align: left; padding: 10%; font-size:1.2rem;}
    img {width: 10%}
    div.cube { width: 200px; height: 200px}
}
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px; text-align: left; padding: 10%; font-size:1.2rem;}
    img {width: 12%}
    div.cube { width: 200px; height: 200px}
}
@media screen and (max-width: 992px) { div.contentblock {width: 970px; text-align: left; padding: 10%; font-size:1.2rem;}
    img {width: 20%}
    div.cube { width: 200px; height: 200px}
}


@media (max-width: 640px) { html {font-size:1.5rem;} h1 {font-size: 3rem} h3 {font-size: 2rem} }
@media (min-width: 640px) { html {font-size:1.5rem;} h1 {font-size: 3rem} h3 {font-size: 2rem} }
@media (min-width: 960px) { html {font-size:1.5rem;} h1 {font-size: 2rem} h3 {font-size: 2rem} }
@media (min-width:1100px) { html {font-size:1.5rem;} h1 {font-size: 2rem} h3 {font-size: 2rem}
}
