<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css?v=112">


    <script>

let c1 = 0;
let c2 = 0;
let c3 = 0;
let c4 = 0;
let c5 = 0;
let c6 = 0;
let c7 = 0;
let c8 = 0;


function changeColor(v)
{
    var colour = v.style.backgroundColor;
    let c = 0;
    console.log(colour);

    if (colour == 'rgb(255, 255, 255)' || colour == '') {
        v.style.backgroundColor = "#009900"; // backcolor
        c = 1;
    } else {
        v.style.backgroundColor = "#ffffff"; // backcolor
        c = 0;
    }

    if (v.id == "c1") { c1 = c; }
    if (v.id == "c2") { c2 = c; }
    if (v.id == "c3") { c3 = c; }
    if (v.id == "c4") { c4 = c; }
    if (v.id == "c5") { c5 = c; }
    if (v.id == "c6") { c6 = c; }
    if (v.id == "c7") { c7 = c; }
    if (v.id == "c8") { c8 = c; }

    if (((c1*10 + c2 != c3*10 + c4) && (c5*10+c6 != c7*10+c8) &&
        (c1*10 + c2 != c5*10+c6) && (c1*10 + c2 != c7*10+c8) &&
        (c3*10 + c4 != c5*10+c6) && (c3*10 + c4 != c7*10+c8))
        //||
        // ((c1*10 + c5 != c2*10 + c6) && (c3*10 + c7 != c4*10 + c8) &&
        // (c1*10 + c5 != c3*10 + c7) && (c1*10 + c5 != c4*10 + c8) &&
        // (c2*10 + c6 != c3*10 + c7) && (c2*10 + c6 != c4*10 + c8))
    ) {
        window.location.replace("/second_room_finish.html");
    } else {
        console.log("Try something different... :)");
    }
}
</script>


</head>



<body>


<div class="contentblock">

    Ты подходишь к кубикам и внимательно их осматриваешь

    <br><br><br>


    <div class="form">
        <table class="cubes_area">
        <tr>
            <th> <div class="cube" id="c1" onclick="changeColor(this);"> p </div> </th>
            <th> <div class="cube" id="c2" onclick="changeColor(this);"> a </div> </th>
            <th> <div class="cube" id="c3" onclick="changeColor(this);"> i </div> </th>
            <th> <div class="cube" id="c4" onclick="changeColor(this);"> r </div> </th>
        </tr>

        <tr>
            <th> <div class="cube" id="c5" onclick="changeColor(this);"> w </div> </th>
            <th> <div class="cube" id="c6" onclick="changeColor(this);"> i </div> </th>
            <th> <div class="cube" id="c7" onclick="changeColor(this);"> s </div> </th>
            <th> <div class="cube" id="c8" onclick="changeColor(this);"> e </div> </th>
        </tr>
        </table>
    </div>


    <br><br><br>



    <p> <a href="/second_room_details.html">Осмотреть комнату</a> </p>
    <br>

</div>


</body>
</html>