<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>



<script>
function changeColor(v)
{
    var colour = v.style.backgroundColor;
    console.log(colour);

    if (colour == 'rgb(255, 255, 255)' || colour == '') {
        v.style.backgroundColor = "#009900"; // backcolor
    } else {
        v.style.backgroundColor = "#ffffff"; // backcolor
    }
}
</script>


<body>


<div class="contentblock">

    Ты подходишь к кубикам и внимательно их осматриваешь

    <br><br><br>



    <table align="center">
    <tr>
        <th> <div class="cube" id="c1" onclick="changeColor(this);"> P </div> </th>
        <th> <div class="cube" id="c2" onclick="changeColor(this);"> w </div> </th>
        <th> <div class="cube" id="c3" onclick="changeColor(this);"> r </div> </th>
        <th> <div class="cube" id="c4" onclick="changeColor(this);"> a </div> </th>
    </tr>

    <tr>
    <tr>
        <th> <div class="cube" id="c5" onclick="changeColor(this);"> e </div> </th>
        <th> <div class="cube" id="c6" onclick="changeColor(this);"> i </div> </th>
        <th> <div class="cube" id="c7" onclick="changeColor(this);"> i </div> </th>
        <th> <div class="cube" id="c8" onclick="changeColor(this);"> s </div> </th>
    </tr>
    </table>


    <br><br><br>
    <a href="/second_room_details.html">Осмотреть комнату</a><br>

</div>


</body>
</html>