<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>
</head>
<body>

<div align="center" style="width: 400px">

    Ты внимательно осматриваешь комнату и белые кубики в центре комнаты.

    <br>

    На стенах комнаты расклеены черно-белые страницы, на которых распечатаны твои баг репорты.
    Почти в каждом из них кто-то сделал пометки красной ручкой.

    <br>

    Ты пытаешься рассмотреть один из баг репортов, и понимаешь, что это как раз тот самый баг,
    который ты недавно пытался воспроизвести.

    <br>

    Красной ручкой на этом листе написано: <b> Не воспроизводится! </b>

    <br>

    Ты осматриваешь все кубики. Каждый кубик белого цвета, на каждом кубике написана буква.


</div>

<br><br>
<a href="">Осмотреть белые кубики</a><br>

</body>
</html>