<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>


<div class="contentblock">

    <div style="color: green"> <b> Что-то изменилось! </b> </div>

    <br><br>

    Кубики начинают быстро растворяться и вскоре совсем исчезают.

    <br><br>

    Откуда-то начинает дуть ветер, срывает листки с рапечатанными отчетами об ошибках
    со стен и начинает кружить их по комнате.

    <br><br>

    Пол под тобой резко пропадает и ты начинаешь стремительно падать в темную бездну...


    <br><br><br>

    <a href="/3room_start.html">Продолжить</a><br>

</div>

</body>
</html>