<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>

<div class="contentblock">

    Ты внимательно осматриваешь комнату и белые кубики в центре комнаты.

    <br><br>

    На стенах комнаты расклеены черно-белые страницы, на которых распечатаны твои баг репорты.
    Почти в каждом из них кто-то сделал пометки красной ручкой.

    <br><br>

    Ты пытаешься рассмотреть один из баг репортов, и понимаешь, что это как раз тот самый баг,
    который никак не воспроизводится.

    <br><br>

    Красной ручкой на этом листе написано: <div style="color: red"><b> Не воспроизводится! </b> </div>


    <br><br><br>

    <p> <a href="/second_room_task.html">Осмотреть белые кубики</a> </p>
    <br>

</div>

</body>
</html>