<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>


<div class="contentblock">

    <div style="color: green"> <b> После твоего прикосновения к кубику что-то изменилось! </b> </div>

    <br><br>

    Все кубики один за другим начинают быстро растворяться и вскоре последний из них совсем исчезает,
    оставив лишь небольшую лучжицу в центре комнаты.

    <br><br>

    Внезапно ворвавшийся в комнату ветер срывает листки с рапечатанными отчетами об ошибках
    со стен и начинает кружить их по комнате.

    <br><br>

    Пол под тобой резко пропадает и ты начинаешь стремительно падать в темную бездну...


    <br><br><br>

    <p> <a href="/3room_start.html">Продолжить</a> </p>
    <br>

</div>

</body>
</html>