<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>


<div class="contentblock">

    Ты заходишь в большую комнату, на стенах которой висят распечатки твоих баг репортов.

    <br>

    В центре комнаты ты видишь 8 белых кубиков одинакового размера.


    <br><br><br>

    <a href="/second_room_details.html">Осмотреть комнату</a><br><br>
    <a href="/second_room_task.html">Осмотреть белые кубики</a><br>

</div>

</body>
</html>