<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>


<div class="contentblock">

    Ты заходишь в большую комнату, на стенах которой висят распечатки твоих баг репортов.

    <br><br>

    В центре комнаты ты видишь 8 белых кубиков одинакового размера.

    <br><br>

    Бронированная дверь медленно закрывается за тобой и ты остаешься в закрытой комнате.


    <br><br><br>

    <p><a href="/second_room_details.html">Осмотреть комнату</a> </p>
    <br>
    <p> <a href="/second_room_task.html">Осмотреть белые кубики</a> </p>
    <br>

</div>

</body>
</html>