<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>




<div class="contentblock">

    Эта история началась в один непростой дождливый день

    <br><br>

    Весь день был проведен в попытках воспроизвести один очень сложный баг,
    но тебе пока не удалось найти шаги для его воспроизведения.

    <br><br>

    И вот ты уже дома, закрываешь глаза, стараясь вспомнить все детали и найти то, что постоянно ускользает от тебя.

    <br><br>

    Тебе тепло и уютно, и незаметно для себя ты проваливаешься в беспокойный сон...

    <br><br><br>

    <p> <a href="/first_room.html">Продолжить</a> </p>
    <br>

</div>




</body>
</html>