<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>


<div class="contentblock">
Гейзенбаг (англ. heisenbug) — жаргонный термин, используемый в программировании
для описания программной ошибки, которая исчезает или меняет свои свойства при
попытке её обнаружения.


<br>

<div align="right"> Википедия (С) </div>

<br><br><br>


<a href="/login.html">Продолжить</a><br>


</div>

</body>
</html>