<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>
</head>
<body>

<div align="center" style="width: 400px">
Гейзенбаг (англ. heisenbug) — жаргонный термин, используемый в программировании
для описания программной ошибки, которая исчезает или меняет свои свойства при
попытке её обнаружения.

</div>

<br>

<div align="right" style="width: 400px" > Википедия (С) </div>

<br><br>


<a href="/login">Продолжить</a><br>



</body>
</html>