<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Battle: Heisenbug Edition</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>




<div class="contentblock">
Вчера был непростой день. Весь день был проведен в попытках воспроизвести этот баг,
но так и не удалось найти подробные шаги для его воспроизведения.

<br><br>

Ты закрываешь глаза, стараясь вспомнить все детали и найти что-то, что постоянно ускользает от тебя.

<br><br>

Незаметно для себя ты проваливаешься в беспокойный сон...


<br><br><br>

<a href="/first_room.html">Продолжить</a><br>

</div>




</body>
</html>